@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-logo: var(--font-playfair); /* atau font lain yang kamu pilih */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}
